Repository Vonage/rxzu: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

ci(unused imports): removed them
  projects/ngx-diagrams/src/lib/base.entity.ts
Due: tslint --fix, prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.0e2762fb221c3d7f22d8.bundle.js
  main.0e2762fb221c3d7f22d8.bundle.js.map
  main.8343fd0d0b717fb2d572.bundle.js
  main.8343fd0d0b717fb2d572.bundle.js.map
  runtime~main.0e2762fb221c3d7f22d8.bundle.js
  runtime~main.0e2762fb221c3d7f22d8.bundle.js.map
  runtime~main.8343fd0d0b717fb2d572.bundle.js.map
  vendors~main.0e2762fb221c3d7f22d8.bundle.js
  vendors~main.0e2762fb221c3d7f22d8.bundle.js.map
  vendors~main.8343fd0d0b717fb2d572.bundle.js.map
Due: prettier --write

perf(destroy options): moved interface to a their right place
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/interfaces/event.interface.ts
  projects/ngx-diagrams/src/lib/models/label.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
Due: tslint --fix, prettier --write

build(release): release 2.11.1 - Dec 19, 2019, 1:13 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix(on entity destroyed): reverted the filtering
  projects/ngx-diagrams/src/lib/base.entity.ts
Due: tslint --fix, prettier --write

build(release): release 2.11.2 - Dec 19, 2019, 1:28 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.0e2762fb221c3d7f22d8.bundle.js
  main.0e2762fb221c3d7f22d8.bundle.js.map
  main.17f5a3daa68d875ff199.bundle.js
  main.17f5a3daa68d875ff199.bundle.js.map
  runtime~main.0e2762fb221c3d7f22d8.bundle.js.map
  runtime~main.17f5a3daa68d875ff199.bundle.js
  runtime~main.17f5a3daa68d875ff199.bundle.js.map
  vendors~main.0e2762fb221c3d7f22d8.bundle.js.map
  vendors~main.17f5a3daa68d875ff199.bundle.js
  vendors~main.17f5a3daa68d875ff199.bundle.js.map
Due: prettier --write

feat(base entity): passing options to constructor
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/interfaces/event.interface.ts
Due: tslint --fix, prettier --write

build(release): release 2.12.0 - Dec 25, 2019, 7:11 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.17f5a3daa68d875ff199.bundle.js
  main.17f5a3daa68d875ff199.bundle.js.map
  main.c4f4959ba1487f1f35d1.bundle.js
  main.c4f4959ba1487f1f35d1.bundle.js.map
  runtime~main.17f5a3daa68d875ff199.bundle.js.map
  runtime~main.c4f4959ba1487f1f35d1.bundle.js
  runtime~main.c4f4959ba1487f1f35d1.bundle.js.map
  vendors~main.17f5a3daa68d875ff199.bundle.js.map
  vendors~main.c4f4959ba1487f1f35d1.bundle.js
  vendors~main.c4f4959ba1487f1f35d1.bundle.js.map
Due: prettier --write

fix(base event): null reference in options for event
  projects/ngx-diagrams/src/lib/interfaces/event.interface.ts
Due: tslint --fix, prettier --write

build(release): release 2.12.1 - Dec 25, 2019, 7:35 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.203159f4ed333d9f386e.bundle.js
  main.203159f4ed333d9f386e.bundle.js.map
  main.c4f4959ba1487f1f35d1.bundle.js
  main.c4f4959ba1487f1f35d1.bundle.js.map
  runtime~main.203159f4ed333d9f386e.bundle.js
  runtime~main.203159f4ed333d9f386e.bundle.js.map
  runtime~main.c4f4959ba1487f1f35d1.bundle.js.map
  vendors~main.203159f4ed333d9f386e.bundle.js
  vendors~main.203159f4ed333d9f386e.bundle.js.map
  vendors~main.c4f4959ba1487f1f35d1.bundle.js.map
Due: prettier --write

feat(node model): remove, update, add ports
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.scss
  projects/ngx-diagrams/src/lib/defaults/components/default-port/default-port.component.scss
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/playground/src/app/app.component.html
  projects/playground/src/app/app.component.ts
Due: tslint --fix, prettier --write

build(release): release 2.13.0 - Dec 25, 2019, 1:31 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.203159f4ed333d9f386e.bundle.js
  main.203159f4ed333d9f386e.bundle.js.map
  main.2356650aebcf9c55d5a4.bundle.js
  main.2356650aebcf9c55d5a4.bundle.js.map
  runtime~main.203159f4ed333d9f386e.bundle.js.map
  runtime~main.2356650aebcf9c55d5a4.bundle.js
  runtime~main.2356650aebcf9c55d5a4.bundle.js.map
  vendors~main.203159f4ed333d9f386e.bundle.js.map
  vendors~main.2356650aebcf9c55d5a4.bundle.js
  vendors~main.2356650aebcf9c55d5a4.bundle.js.map
Due: prettier --write

fix(imports): bad imports naming
  projects/ngx-diagrams/src/lib/actions/selecting.action.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-node.factory.ts
Due: tslint --fix, prettier --write

build(release): release 2.13.1 - Feb 9, 2020, 11:46 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  runtime~main.2356650aebcf9c55d5a4.bundle.js.map
  vendors~main.2356650aebcf9c55d5a4.bundle.js.map
Due: none

fix(imports): coords interface import
  projects/ngx-diagrams/src/lib/models/node.model.ts
Due: tslint --fix, prettier --write

build(release): release 2.13.2 - Feb 9, 2020, 11:51 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(packages): updates all dependencies
  .travis.yml
  angular.json
  package-lock.json
  package.json
  projects/ngx-diagrams/tsconfig.lib.json
  projects/ngx-diagrams/tsconfig.lib.prod.json
  projects/playground/tsconfig.app.json
  tsconfig.json
Due: none

feat(colors): links colors are now subscribable
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
  projects/ngx-diagrams/src/lib/defaults/models/default-link.model.ts
  projects/playground/src/app/app.component.html
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/components/custom-link/custom-link.component.scss
Due: tslint --fix, prettier --write

feat(actions): loose link destroyed action
  package.json
  projects/ngx-diagrams/src/lib/actions/index.ts
  projects/ngx-diagrams/src/lib/actions/loose-link-destroyed.action.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/index.ts
Due: tslint --fix, prettier --write

ci(travis.yml): indentation
  .travis.yml
Due: none

ci(travis): yml indentation
  .travis.yml
Due: none

docs(badges): snyk badge
  README.md
Due: prettier --write

ci(readme): updated package json
  README.md
  package.json
Due: prettier --write

ci(travis): readded skip_cleanup
  .lintstagedrc
  .travis.yml
Due: none

ci(travis): skip_cleanup
  .travis.yml
Due: none

ci(travis): ymls!
  .travis.yml
Due: none

build(release): release 2.14.0 - Mar 29, 2020, 4:17 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  16cfb5a6baad9ef44a3ee2c05b04874dd6475e08
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  index.html
  main.2356650aebcf9c55d5a4.bundle.js
  main.2356650aebcf9c55d5a4.bundle.js.map
  main.312a05e38fdb5934a075.bundle.js
  main.3fca89b413d0f8a911e0.bundle.js
  main.a590682458d230077d5a.bundle.js
  main.a590682458d230077d5a.bundle.js.map
  runtime~main.2356650aebcf9c55d5a4.bundle.js.map
  runtime~main.6b70b35614cf83eab770.bundle.js
  runtime~main.a590682458d230077d5a.bundle.js
  runtime~main.a590682458d230077d5a.bundle.js.map
  sb_dll/storybook_ui-manifest.json
  sb_dll/storybook_ui_dll.LICENCE
  sb_dll/storybook_ui_dll.js
  vendors~main.2356650aebcf9c55d5a4.bundle.js
  vendors~main.2356650aebcf9c55d5a4.bundle.js.map
  vendors~main.72fe299f398a2b230bb6.bundle.js
  vendors~main.8ce551b511b812bb80a4.bundle.js
  vendors~main.a590682458d230077d5a.bundle.js
  vendors~main.a590682458d230077d5a.bundle.js.LICENSE.txt
  vendors~main.a590682458d230077d5a.bundle.js.map
Due: prettier --write

feat(actions): invalid link destroyed action dispatched
  projects/ngx-diagrams/src/lib/actions/index.ts
  projects/ngx-diagrams/src/lib/actions/invalid-link-destroyed.action.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
Due: tslint --fix, prettier --write

build(release): release 2.15.0 - Apr 12, 2020, 2:35 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e8a4471151106a9850ff89a6cafc9710598fc785
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.a590682458d230077d5a.bundle.js
  main.a590682458d230077d5a.bundle.js.map
  main.a5a4afa8653677ba4ac0.bundle.js
  main.a5a4afa8653677ba4ac0.bundle.js.map
  runtime~main.a590682458d230077d5a.bundle.js.map
  runtime~main.a5a4afa8653677ba4ac0.bundle.js
  runtime~main.a5a4afa8653677ba4ac0.bundle.js.map
  vendors~main.a590682458d230077d5a.bundle.js
  vendors~main.a590682458d230077d5a.bundle.js.map
  vendors~main.a5a4afa8653677ba4ac0.bundle.js
  vendors~main.a5a4afa8653677ba4ac0.bundle.js.LICENSE.txt
  vendors~main.a5a4afa8653677ba4ac0.bundle.js.map
Due: prettier --write

feat(links): canCreateLinks property on ports
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
Due: tslint --fix, prettier --write

build(release): release 2.16.0 - Apr 12, 2020, 3:36 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  tslint --fix: any of: projects/**/*.ts
  prettier --write: any of: **/*.{ts,js,html,scss,md}
