Repository Vonage/rxzu: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

docs(links): custom story with example for link deletion
  stories/link/custom/custom-link.component.html
  stories/link/custom/custom-link.component.scss
  stories/link/custom/custom-link.component.ts
Due: prettier --write

chore(dagre): moved into peer dependencies
  package-lock.json
  projects/ngx-diagrams/package.json
Due: none

chore(playground): removed demo application, everything is a story now
  .storybook/tsconfig.json
  angular.json
  projects/playground/browserslist
  projects/playground/karma.conf.js
  projects/playground/src/app/app.component.html
  projects/playground/src/app/app.component.scss
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.module.ts
  projects/playground/src/app/components/custom-link/custom-link.component.html
  projects/playground/src/app/components/custom-link/custom-link.component.scss
  projects/playground/src/app/components/custom-link/custom-link.component.ts
  projects/playground/src/app/components/custom-link/custom-link.factory.ts
  projects/playground/src/app/components/markdown-wrapper/markdown-wrapper.component.html
  projects/playground/src/app/components/markdown-wrapper/markdown-wrapper.component.scss
  projects/playground/src/app/components/markdown-wrapper/markdown-wrapper.component.ts
  projects/playground/src/assets/.gitkeep
  projects/playground/src/environments/environment.prod.ts
  projects/playground/src/environments/environment.ts
  projects/playground/src/favicon.ico
  projects/playground/src/index.html
  projects/playground/src/main.ts
  projects/playground/src/polyfills.ts
  projects/playground/src/styles.scss
  projects/playground/src/test.ts
  projects/playground/tsconfig.app.json
  projects/playground/tsconfig.spec.json
  projects/playground/tslint.json
Due: tslint --fix, prettier --write

docs(installation): added prod mode initialization
  stories/getting-started.stories.mdx
Due: none

fix(ports coords): on initialization ports coords will align based on their true position
  documentation.json
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-label.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-link.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-node.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-port.factory.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/interfaces/select-options.interface.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  stories/link/default/default.component.ts
  stories/node/custom/custom.component.ts
Due: tslint --fix, prettier --write

feat(magnetic ports): on link drag when getting to 30px proximity, magnetize
  documentation.json
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-port/default-port.component.scss
Due: tslint --fix, prettier --write

fix(links model): auto resolve the correct model for ports links
  projects/ngx-diagrams/src/lib/actions/move-items.action.ts
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.scss
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-port/default-port.component.html
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/interfaces/event.interface.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/label.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/move-selection.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  stories/link/custom/custom.factory.ts
  stories/link/custom/diagram.component.ts
Due: tslint --fix, prettier --write

fix: upgrade zone.js from 0.10.3 to 0.11.2
  package-lock.json
  package.json
Due: none

fix(ports): multiple bugs and rendering races
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-node.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-port.factory.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  stories/link/default/default.component.ts
Due: tslint --fix, prettier --write

fix(points): reselecting points and moving links
  documentation.json
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.scss
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-port/default-port.component.scss
  stories/link/custom/custom-link.component.html
  stories/link/custom/custom-link.component.ts
Due: tslint --fix, prettier --write

fix(magnets): resseting all previously defined magnets on selection models
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  stories/link/custom/custom-link.component.html
  stories/link/custom/custom-link.component.ts
Due: tslint --fix, prettier --write

docs(custom link): updated models and template according to changes
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  stories/label/custom/custom-label.component.scss
  stories/link/custom/custom-link.component.html
  stories/link/custom/custom-link.component.scss
Due: tslint --fix, prettier --write

docs(changelog): added to stories
  stories/changelog.stories.mdx
Due: none

build(release): release 3.0.0 - Nov 7, 2020, 5:28 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d0e80e3c23134c6f3e497cdb95f28682f5bf8663
Due: none

feat(serialization): from and to json
  projects/ngx-diagrams/src/lib/interfaces/serialization.interface.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
Due: tslint --fix, prettier --write

feat(serialization): interface for all serialized models
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/interfaces/index.ts
  projects/ngx-diagrams/src/lib/interfaces/serialization.interface.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/label.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  stories/link/default/default.component.ts
Due: tslint --fix, prettier --write

fix: upgrade snyk from 1.414.1 to 1.415.0
  package-lock.json
  package.json
Due: none

fix: upgrade multiple dependencies with Snyk
  package-lock.json
  package.json
Due: none

feat(serialization): serialize graph to json
  documentation.json
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-node.factory.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-link.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/factories/base.factory.ts
  projects/ngx-diagrams/src/lib/interfaces/serialization.interface.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
  stories/examples/basic/basic.component.ts
  stories/examples/demo-diagram.component.scss
  stories/examples/examples.stories.ts
  stories/examples/examples.template.ts
  stories/examples/serialization/serialization.component.ts
  stories/link/custom/custom.factory.ts
  stories/link/custom/diagram.component.ts
  stories/node/custom/custom.factory.ts
  stories/node/custom/diagram.component.ts
Due: tslint --fix, prettier --write

build(release): release 3.0.1 - Nov 12, 2020, 6:50 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ca644b90a04a075c7fbce34079c01dec197a050c
Due: none

build(release): release 3.1.0 - Nov 12, 2020, 6:56 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  932ce264bddc631e0c9e3edc42526a0daacd1ca1
Due: none

docs(auto arrange): added example story for auto arrange
  stories/examples/auto-arrange/auto-arrange.component.ts
  stories/examples/examples.stories.ts
  stories/examples/examples.template.ts
Due: prettier --write

fix: upgrade snyk from 1.415.0 to 1.419.1
  package-lock.json
  package.json
Due: none

feat(smart routing): mid implementation of smart links
  documentation.json
  package-lock.json
  package.json
  projects/ngx-diagrams/ng-package.json
  projects/ngx-diagrams/package.json
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/plugins/smart-routing.plugin.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/ngx-diagrams/src/lib/utils/index.ts
  projects/ngx-diagrams/src/lib/utils/path-finding.util.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
  stories/examples/auto-arrange/auto-arrange.component.ts
  stories/examples/examples.stories.ts
  stories/examples/examples.template.ts
  stories/examples/smart-routing/smart-routing.component.ts
  yarn.lock
Due: tslint --fix, prettier --write

feat(smart routing): working, now to optmizations
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
  stories/examples/smart-routing/smart-routing.component.ts
Due: tslint --fix, prettier --write

build(release): release 3.1.1 - Nov 14, 2020, 11:18 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1d32d5188cbdee5f60a941db42a4ffd4bc770d95
Due: none

feat(no zone): everything rx with proper pipes
  documentation.json
  package.json
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-label.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-link.model.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/label.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/plugins/smart-routing.plugin.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/ngx-diagrams/src/test.ts
  stories/link/custom/custom-link.component.ts
  yarn.lock
Due: tslint --fix, prettier --write

feat(logger): every event changes can be monitored using log level info
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-label.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-link.model.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/label.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
  stories/link/custom/custom-link.component.ts
  stories/node/custom/custom.component.ts
Due: tslint --fix, prettier --write

fix: upgrade snyk from 1.419.1 to 1.420.0
  package-lock.json
  package.json
Due: none

Path conditions:
  tslint --fix: any of: projects/**/*.ts
  prettier --write: any of: **/*.{ts,js,html,scss,md}
