Repository Vonage/rxzu: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

.lintstagedrc:

{
	"projects/**/*.ts": [
		"tslint --fix"
	],
	"**/*.{ts,js,html,scss,md}": [
		"prettier --write"
	]
}

build(release): release 2.18.5 - Jun 10, 2020, 8:02 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8d805682636e7b107547f7eae47fe3b1246fc543
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.9d405b21f70361f4f6c6.bundle.js
  main.9d405b21f70361f4f6c6.bundle.js.map
  main.b62a322bfb7ba05d9d6c.bundle.js
  main.b62a322bfb7ba05d9d6c.bundle.js.map
  runtime~main.9d405b21f70361f4f6c6.bundle.js.map
  runtime~main.b62a322bfb7ba05d9d6c.bundle.js
  runtime~main.b62a322bfb7ba05d9d6c.bundle.js.map
  vendors~main.9d405b21f70361f4f6c6.bundle.js
  vendors~main.9d405b21f70361f4f6c6.bundle.js.map
  vendors~main.b62a322bfb7ba05d9d6c.bundle.js
  vendors~main.b62a322bfb7ba05d9d6c.bundle.js.LICENSE.txt
  vendors~main.b62a322bfb7ba05d9d6c.bundle.js.map
Due: prettier --write

build(release): release 2.18.6 - Jun 10, 2020, 8:32 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9e78f851c4f6c281ec958cf28348ebab724b5186
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.90ca239a10c095d2910e.bundle.js
  main.90ca239a10c095d2910e.bundle.js.map
  main.b62a322bfb7ba05d9d6c.bundle.js.map
  runtime~main.90ca239a10c095d2910e.bundle.js
  runtime~main.90ca239a10c095d2910e.bundle.js.map
  runtime~main.b62a322bfb7ba05d9d6c.bundle.js.map
  vendors~main.90ca239a10c095d2910e.bundle.js
  vendors~main.90ca239a10c095d2910e.bundle.js.LICENSE.txt
  vendors~main.90ca239a10c095d2910e.bundle.js.map
  vendors~main.b62a322bfb7ba05d9d6c.bundle.js
  vendors~main.b62a322bfb7ba05d9d6c.bundle.js.map
Due: prettier --write

fix: upgrade snyk from 1.319.0 to 1.323.1
  package-lock.json
  package.json
Due: none

feat: upgrade tslib from 1.11.2 to 2.0.0
  package-lock.json
  package.json
Due: none

fix: upgrade multiple dependencies with Snyk
  package-lock.json
  package.json
Due: none

fix: upgrade ngx-markdown from 9.1.0 to 9.1.1
  package-lock.json
  package.json
Due: none

refactor(uid): generate a bson compatible object id
  package-lock.json
  package.json
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
Due: tslint --fix, prettier --write

docs(storybook): fixed welcome and demo story
  package-lock.json
  projects/playground/src/app/app.component.html
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.module.ts
  projects/playground/src/app/components/markdown-wrapper/markdown-wrapper.component.html
  projects/playground/src/app/components/markdown-wrapper/markdown-wrapper.component.ts
  stories/index.stories.js
Due: tslint --fix, prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  index.html
  main.19bb3a448664cfd23a9e.bundle.js
  main.19bb3a448664cfd23a9e.bundle.js.map
  main.90ca239a10c095d2910e.bundle.js
  main.90ca239a10c095d2910e.bundle.js.map
  main.aafc051ec3cf85a6cbde.bundle.js
  main.f0f0e30fc3123354ccd0.bundle.js
  runtime~main.19bb3a448664cfd23a9e.bundle.js
  runtime~main.19bb3a448664cfd23a9e.bundle.js.map
  runtime~main.90ca239a10c095d2910e.bundle.js.map
  sb_dll/storybook_ui-manifest.json
  sb_dll/storybook_ui_dll.js
  vendors~main.19bb3a448664cfd23a9e.bundle.js
  vendors~main.19bb3a448664cfd23a9e.bundle.js.LICENSE.txt
  vendors~main.19bb3a448664cfd23a9e.bundle.js.map
  vendors~main.65fc11297a77141f1644.bundle.js
  vendors~main.7e4454991168c6887649.bundle.js
  vendors~main.90ca239a10c095d2910e.bundle.js
  vendors~main.90ca239a10c095d2910e.bundle.js.map
Due: prettier --write

fix: upgrade rxjs from 6.5.5 to 6.6.0
  package-lock.json
  package.json
Due: none

refactor(lock): removed lock file
  package-lock.json
Due: none

refactor(lock): removed inner pckage lock
  projects/ngx-diagrams/package-lock.json
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  index.html
  main.17509d6772bc1c91449a.bundle.js
  main.17509d6772bc1c91449a.bundle.js.map
  main.19bb3a448664cfd23a9e.bundle.js
  main.19bb3a448664cfd23a9e.bundle.js.map
  main.2115a404c42daadfda50.bundle.js
  main.aafc051ec3cf85a6cbde.bundle.js
  runtime~main.17509d6772bc1c91449a.bundle.js
  runtime~main.17509d6772bc1c91449a.bundle.js.map
  runtime~main.19bb3a448664cfd23a9e.bundle.js.map
  sb_dll/storybook_ui_dll.js
  vendors~main.17509d6772bc1c91449a.bundle.js
  vendors~main.17509d6772bc1c91449a.bundle.js.LICENSE.txt
  vendors~main.17509d6772bc1c91449a.bundle.js.map
  vendors~main.19bb3a448664cfd23a9e.bundle.js
  vendors~main.19bb3a448664cfd23a9e.bundle.js.map
  vendors~main.7e4454991168c6887649.bundle.js
  vendors~main.d0c926e6d4efe83c1afb.bundle.js
Due: prettier --write

chore(update deps): updated all library dependencies, removed lodash
  angular.json
  package-lock.json
  package.json
  projects/ngx-diagrams/ng-package.json
  projects/ngx-diagrams/package.json
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/tsconfig.lib.json
  tsconfig.json
Due: tslint --fix, prettier --write

chore(lock file): sync deps
  package-lock.json
Due: none

chore(storybook): updated deps
  .storybook/webpack.config.js
  README.md
  projects/ngx-diagrams/src/public-api.ts
Due: tslint --fix, prettier --write

fix: upgrade zone.js from 0.10.3 to 0.11.1
  package-lock.json
  package.json
Due: none

docs(storybook): reworked from scratch, contributions, licensing, readme
  .storybook/addons.js
  .storybook/config.js
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/static/favicon.ico
  .storybook/static/icon.png
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  .storybook/webpack.config.js
  CODE_OF_CONDUCT.md
  LICENSE.md
  README.md
  documentation.json
  package-lock.json
  package.json
  projects/playground/src/app/app.component.html
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.stories.ts
  projects/playground/tsconfig.app.json
  stories/Button.stories.ts
  stories/Header.stories.ts
  stories/Introduction.stories.mdx
  stories/Page.stories.ts
  stories/assets/code-brackets.svg
  stories/assets/colors.svg
  stories/assets/comments.svg
  stories/assets/direction.svg
  stories/assets/flow.svg
  stories/assets/plugin.svg
  stories/assets/repo.svg
  stories/assets/stackalt.svg
  stories/button.component.ts
  stories/button.css
  stories/header.component.ts
  stories/header.css
  stories/index.stories.js
  stories/page.component.ts
  stories/page.css
Due: tslint --fix, prettier --write

docs(readme): logo
  README.md
Due: prettier --write

docs(storybook): updated to v6, added new intro page
  .storybook/icon.png
  .storybook/manager.js
  .storybook/preview.js
  .storybook/theme.js
  README.md
  angular.json
  documentation.json
  package-lock.json
  package.json
  projects/ngx-diagrams/README.md
  projects/playground/src/app/app.module.ts
  projects/playground/src/app/app.stories.ts
  stories/Button.stories.ts
  stories/Header.stories.ts
  stories/Introduction.stories.mdx
  stories/Page.stories.ts
  stories/button.component.ts
  stories/button.css
  stories/defaults/default-link.stories.ts
  stories/diagram/basic.stories.ts
  stories/header.component.ts
  stories/header.css
  stories/page.component.ts
  stories/page.css
Due: tslint --fix, prettier --write

docs(storybook): initial diagram story
  stories/defaults/link.stories.ts
  stories/diagram/basic.stories.ts
  stories/diagram/template/template.component.html
  stories/diagram/template/template.component.scss
  stories/diagram/template/template.component.ts
  stories/diagram/template/template.ts
Due: prettier --write

docs(basic diagram): node size adjustment story
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/plugins/dagre-engine.plugin.ts
  projects/ngx-diagrams/src/public-api.ts
  stories/Introduction.stories.mdx
  stories/diagram/template/template.component.ts
Due: tslint --fix, prettier --write

docs(nodes): default and custom stories added
  .storybook/main.js
  documentation.json
  package-lock.json
  package.json
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/playground/src/app/components/custom-link/custom-link.component.html
  projects/playground/src/app/components/custom-link/custom-link.component.scss
  projects/playground/src/app/components/custom-link/custom-link.factory.ts
  projects/playground/src/app/components/markdown-wrapper/markdown-wrapper.component.ts
  stories/defaults/link.stories.ts
  stories/diagram/basic.stories.ts
  stories/diagram/template/template.component.html
  stories/diagram/template/template.component.ts
  stories/diagram/template/template.ts
  stories/node/custom/custom.component.html
  stories/node/custom/custom.component.scss
  stories/node/custom/custom.component.ts
  stories/node/custom/custom.factory.ts
  stories/node/custom/diagram.component.ts
  stories/node/default/default.component.ts
  stories/node/demo-diagram.component.scss
  stories/node/node.stories.ts
  stories/node/node.template.ts
Due: tslint --fix, prettier --write

docs(links): added default and custom link stories
  projects/ngx-diagrams/src/lib/defaults/models/default-link.model.ts
  stories/link/custom/custom-link.component.html
  stories/link/custom/custom-link.component.scss
  stories/link/custom/custom-link.component.ts
  stories/link/custom/custom.factory.ts
  stories/link/custom/diagram.component.ts
  stories/link/default/default.component.ts
  stories/link/demo-diagram.component.scss
  stories/link/link.stories.ts
  stories/link/link.template.ts
  stories/node/node.stories.ts
Due: tslint --fix, prettier --write

docs(installation): added installation scripts
  .storybook/preview.js
  stories/getting-started.stories.mdx
Due: prettier --write

docs(ordering): ordered stories in preview file
  .storybook/preview.js
Due: prettier --write

chore(snyk): updated scrips and package
  .travis.yml
Due: none

fix(default link): using public members selectColor
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
Due: prettier --write

docs(readme): updated badges urls
  README.md
Due: prettier --write

build(release): release 2.18.7 - Oct 25, 2020, 8:31 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5fbceaeef4c36a2d26615130fc7184c9870261d0
Due: none

ci(docs): updated static folder path
  .gitignore
  .travis.yml
  documentation.json
Due: none

docs(ports): added default and custom stories
  stories/port/custom/custom.component.html
  stories/port/custom/custom.component.scss
  stories/port/custom/custom.component.ts
  stories/port/custom/custom.factory.ts
  stories/port/custom/diagram.component.ts
  stories/port/default/default.component.ts
  stories/port/demo-diagram.component.scss
  stories/port/port.stories.ts
  stories/port/port.template.ts
Due: prettier --write

docs(labels): default and custom label stories added
  projects/playground/src/app/components/custom-link/custom-link.component.ts
  stories/label/custom/custom-label.component.html
  stories/label/custom/custom-label.component.scss
  stories/label/custom/custom-label.component.ts
  stories/label/custom/custom.factory.ts
  stories/label/custom/diagram.component.ts
  stories/label/default/default.component.ts
  stories/label/demo-diagram.component.scss
  stories/label/label.stories.ts
  stories/label/label.template.ts
Due: tslint --fix, prettier --write
