Repository Vonage/rxzu: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

feat(smart-routing): working, still have to restrict canvas limits
  documentation.json
  package-lock.json
  package.json
  projects/ngx-diagrams/package.json
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/plugins/smart-routing.plugin.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
  stories/examples/smart-routing/smart-routing.component.ts
  yarn.lock
Due: tslint --fix, prettier --write

refactor(deps): removed unused dependencies
  projects/ngx-diagrams/package.json
Due: none

build(release): release 3.2.0 - Nov 15, 2020, 7:56 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e511cc47875042f3d59bb7f779f2c4dd3da92843
Due: none

feat(angular 11): updated library, storybook to angular 11
  .eslintrc.json
  angular.json
  documentation.json
  package-lock.json
  package.json
  projects/ngx-diagrams/.eslintrc.json
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
  projects/ngx-diagrams/tsconfig.lib.json
  projects/ngx-diagrams/tsconfig.lib.prod.json
  projects/ngx-diagrams/tslint.json
  tslint.json
Due: tslint --fix, prettier --write

build(release): release 3.3.0 - Nov 15, 2020, 11:30 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  eaa1b3be9377306c8e0d06c7ba1e74edb574b16a
Due: none

fix(on mouse up): handle edge cases where models cleared manually mid iteration
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
Due: tslint --fix, prettier --write

fix(merged): lock file
  package-lock.json
Due: none

fix(dependencies): updated all relevant dependencies
  documentation.json
  package-lock.json
  package.json
Due: none

build(release): release 3.3.1 - Nov 19, 2020, 10:23 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2df73293f24e8df3741b7c028d74d76a43b33f95
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  index.html
  main.0c1b8e5c44c182da3089.bundle.js
  main.48daf13e0b275d2e12ca.bundle.js
  main.48daf13e0b275d2e12ca.bundle.js.map
  main.64ebfcf8d0dac3e847fb.bundle.js
  main.64ebfcf8d0dac3e847fb.bundle.js.map
  main.8c978b85f96622532cd4.bundle.js
  runtime~main.48daf13e0b275d2e12ca.bundle.js.map
  runtime~main.64ebfcf8d0dac3e847fb.bundle.js
  runtime~main.64ebfcf8d0dac3e847fb.bundle.js.map
  vendors~main.48daf13e0b275d2e12ca.bundle.js
  vendors~main.48daf13e0b275d2e12ca.bundle.js.map
  vendors~main.64ebfcf8d0dac3e847fb.bundle.js
  vendors~main.64ebfcf8d0dac3e847fb.bundle.js.LICENSE.txt
  vendors~main.64ebfcf8d0dac3e847fb.bundle.js.map
  vendors~main.8de0c6df0ee3afe2baac.bundle.js
  vendors~main.f246597622b2f3fa74e5.bundle.js
  vendors~main.f246597622b2f3fa74e5.bundle.js.LICENSE.txt
Due: prettier --write

fix(links): unfound model errors, links layer position
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.scss
  stories/link/custom/custom-link.component.scss
  stories/port/custom/custom.factory.ts
Due: tslint --fix, prettier --write

build(release): release 3.3.2 - Nov 22, 2020, 7:28 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ab44c890baffe7f2e12593ec1f37889095fc5334
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.64ebfcf8d0dac3e847fb.bundle.js
  main.64ebfcf8d0dac3e847fb.bundle.js.map
  main.7052a24990b5dc58b4e1.bundle.js
  main.7052a24990b5dc58b4e1.bundle.js.map
  runtime~main.64ebfcf8d0dac3e847fb.bundle.js.map
  runtime~main.7052a24990b5dc58b4e1.bundle.js
  runtime~main.7052a24990b5dc58b4e1.bundle.js.map
  vendors~main.64ebfcf8d0dac3e847fb.bundle.js.map
  vendors~main.7052a24990b5dc58b4e1.bundle.js
  vendors~main.7052a24990b5dc58b4e1.bundle.js.LICENSE.txt
  vendors~main.7052a24990b5dc58b4e1.bundle.js.map
Due: prettier --write

refactor: change model visibility to protected to allow inheritance, add HashMap type
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-label.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-link.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-node.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-port.factory.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-label.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-link.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/interfaces/event.interface.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/label.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/move-selection.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
  projects/ngx-diagrams/src/lib/utils/types.ts
Due: tslint --fix, prettier --write

squash! refactor: change model visibility to protected to allow inheritance, add HashMap type
  projects/ngx-diagrams/src/lib/defaults/models/default-label.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-link.model.ts
Due: tslint --fix, prettier --write

chore: rollback prop name change
  projects/ngx-diagrams/src/lib/interfaces/event.interface.ts
Due: tslint --fix, prettier --write

chore: remove asObservable
  documentation.json
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-label.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-link.model.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/label.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
Due: tslint --fix, prettier --write

chore(link-component): protected points$ and exposed one with entityPipe
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
Due: tslint --fix, prettier --write

refactor(diagram): single subscription for styles
  documentation.json
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.html
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/ngx-diagrams.module.ts
  projects/ngx-diagrams/src/lib/utils/template-var.directive.ts
Due: tslint --fix, prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.51b7ba51f98316a36c67.bundle.js
  main.51b7ba51f98316a36c67.bundle.js.map
  main.7052a24990b5dc58b4e1.bundle.js
  main.7052a24990b5dc58b4e1.bundle.js.map
  runtime~main.51b7ba51f98316a36c67.bundle.js
  runtime~main.51b7ba51f98316a36c67.bundle.js.map
  runtime~main.7052a24990b5dc58b4e1.bundle.js.map
  vendors~main.51b7ba51f98316a36c67.bundle.js
  vendors~main.51b7ba51f98316a36c67.bundle.js.LICENSE.txt
  vendors~main.51b7ba51f98316a36c67.bundle.js.map
  vendors~main.7052a24990b5dc58b4e1.bundle.js.map
Due: prettier --write

chore(base-entity): private to protected
  projects/ngx-diagrams/src/lib/base.entity.ts
Due: tslint --fix, prettier --write

perf(diagram): improve reset and addAll performance
  documentation.json
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
Due: tslint --fix, prettier --write

chore: redundant typing removal
  projects/ngx-diagrams/src/lib/models/base.model.ts
Due: tslint --fix, prettier --write

refactor(maps): links to map
  documentation.json
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/utils/types.ts
Due: tslint --fix, prettier --write

refactor(maps): nodes and ports to map
  documentation.json
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
Due: tslint --fix, prettier --write

chore: move port destroy to node
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
Due: tslint --fix, prettier --write

squash! refactor(maps): nodes and ports to map
  projects/ngx-diagrams/src/lib/plugins/dagre-engine.plugin.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/ngx-diagrams/src/lib/utils/decorators.ts
Due: tslint --fix, prettier --write

perf(diagram): run dom changes outside of zone
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.html
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
Due: tslint --fix, prettier --write

refactor: add state mechanism for easier and efficient management
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-label/default-label.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-label.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-link.model.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/label.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/utils/index.ts
  projects/ngx-diagrams/src/lib/utils/state.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
  projects/ngx-diagrams/src/lib/utils/types.ts
  stories/examples/serialization/serialization.component.ts
  stories/label/custom/custom-label.component.html
  stories/link/custom/custom-link.component.ts
Due: tslint --fix, prettier --write

chore: remove invalid bindings
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.html
Due: prettier --write

refactor: remove TypedMap due to lack of ES5 support
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/ngx-diagrams/src/lib/utils/state.ts
  projects/ngx-diagrams/src/lib/utils/types.ts
Due: tslint --fix, prettier --write

chore: remove console logs
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
Due: tslint --fix, prettier --write

perf(components): set change detection to OnPush to reduce cd cycles
  projects/ngx-diagrams/src/lib/defaults/components/default-label/default-label.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-port/default-port.component.ts
Due: tslint --fix, prettier --write

docs(performance): added performance story
  documentation.json
  package-lock.json
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  stories/examples/examples.stories.ts
  stories/examples/examples.template.ts
  stories/examples/performance/performance.component.ts
  stories/examples/smart-routing/smart-routing.component.ts
Due: tslint --fix, prettier --write

Path conditions:
  tslint --fix: any of: projects/**/*.ts
  prettier --write: any of: **/*.{ts,js,html,scss,md}
