Repository Vonage/rxzu: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

.lintstagedrc:

{
	"projects/**/*.ts": [
		"tslint --fix"
	],
	"**/*.{ts,js,html,scss,md}": [
		"prettier --write"
	]
}

Notes added by 'git notes add'
  550f9162d88615b1100035064a66ca09c044ccea
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.96896991ba22bbe5a94c.bundle.js
  main.96896991ba22bbe5a94c.bundle.js.map
  main.a5a4afa8653677ba4ac0.bundle.js
  main.a5a4afa8653677ba4ac0.bundle.js.map
  runtime~main.96896991ba22bbe5a94c.bundle.js
  runtime~main.96896991ba22bbe5a94c.bundle.js.map
  runtime~main.a5a4afa8653677ba4ac0.bundle.js.map
  vendors~main.96896991ba22bbe5a94c.bundle.js
  vendors~main.96896991ba22bbe5a94c.bundle.js.LICENSE.txt
  vendors~main.96896991ba22bbe5a94c.bundle.js.map
  vendors~main.a5a4afa8653677ba4ac0.bundle.js
  vendors~main.a5a4afa8653677ba4ac0.bundle.js.map
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  package-lock.json
  package.json
Due: none

fix: upgrade rxjs from 6.5.4 to 6.5.5
  package.json
Due: none

fix: upgrade rxjs from 6.5.4 to 6.5.5
  package-lock.json
Due: none

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  package.json
Due: none

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  package-lock.json
Due: none

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  .snyk
Due: none

feat(zoom): min and max zoom levels properties
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
Due: tslint --fix, prettier --write

fix(deps): updated all deps to address vuln
  .snyk
  package-lock.json
  package.json
Due: none

build(release): release 2.17.0 - May 4, 2020, 11:22 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c3f7182872ed16a33cd26001029e41c7d15c0984
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  index.html
  main.312a05e38fdb5934a075.bundle.js
  main.5e26f668f28035ebbcf0.bundle.js
  main.5e26f668f28035ebbcf0.bundle.js.map
  main.96896991ba22bbe5a94c.bundle.js
  main.96896991ba22bbe5a94c.bundle.js.map
  main.f0f0e30fc3123354ccd0.bundle.js
  runtime~main.5e26f668f28035ebbcf0.bundle.js
  runtime~main.5e26f668f28035ebbcf0.bundle.js.map
  runtime~main.8bfece81a1ead32e094c.bundle.js
  runtime~main.96896991ba22bbe5a94c.bundle.js.map
  sb_dll/storybook_ui_dll.js
  vendors~main.5e26f668f28035ebbcf0.bundle.js
  vendors~main.5e26f668f28035ebbcf0.bundle.js.LICENSE.txt
  vendors~main.5e26f668f28035ebbcf0.bundle.js.map
  vendors~main.65fc11297a77141f1644.bundle.js
  vendors~main.8ce551b511b812bb80a4.bundle.js
  vendors~main.96896991ba22bbe5a94c.bundle.js
  vendors~main.96896991ba22bbe5a94c.bundle.js.map
Due: prettier --write

feat(zoom to fit): taking under consideration min/max zoom
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/playground/src/app/app.component.html
  projects/playground/src/app/app.component.ts
Due: tslint --fix, prettier --write

build(release): release 2.18.0 - May 4, 2020, 1:19 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b8bb0e2f609a78846dcb2138c663f0cdb462a836
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.5e26f668f28035ebbcf0.bundle.js
  main.5e26f668f28035ebbcf0.bundle.js.map
  main.ecad26305e96b1fd034e.bundle.js
  main.ecad26305e96b1fd034e.bundle.js.map
  runtime~main.5e26f668f28035ebbcf0.bundle.js.map
  runtime~main.ecad26305e96b1fd034e.bundle.js
  runtime~main.ecad26305e96b1fd034e.bundle.js.map
  vendors~main.5e26f668f28035ebbcf0.bundle.js
  vendors~main.5e26f668f28035ebbcf0.bundle.js.map
  vendors~main.ecad26305e96b1fd034e.bundle.js
  vendors~main.ecad26305e96b1fd034e.bundle.js.LICENSE.txt
  vendors~main.ecad26305e96b1fd034e.bundle.js.map
Due: prettier --write

fix(zoom): fixed issue with zoom to fit
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/playground/src/app/app.component.html
Due: tslint --fix, prettier --write

build(release): release 2.18.1 - May 4, 2020, 1:57 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  821d0607759fe3362af4b85b1452cba519bb895b
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.2d0b7e27d2495fe978dc.bundle.js
  main.2d0b7e27d2495fe978dc.bundle.js.map
  main.ecad26305e96b1fd034e.bundle.js
  main.ecad26305e96b1fd034e.bundle.js.map
  runtime~main.2d0b7e27d2495fe978dc.bundle.js
  runtime~main.2d0b7e27d2495fe978dc.bundle.js.map
  runtime~main.ecad26305e96b1fd034e.bundle.js.map
  vendors~main.2d0b7e27d2495fe978dc.bundle.js
  vendors~main.2d0b7e27d2495fe978dc.bundle.js.LICENSE.txt
  vendors~main.2d0b7e27d2495fe978dc.bundle.js.map
  vendors~main.ecad26305e96b1fd034e.bundle.js.map
Due: prettier --write

fix(links): new links wont be created if canLinkToPort fail
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/playground/src/app/app.component.ts
Due: tslint --fix, prettier --write

build(release): release 2.18.2 - May 7, 2020, 10:29 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3e5a772e5a2db30ded91a3059a34789896fcc713
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.2d0b7e27d2495fe978dc.bundle.js
  main.2d0b7e27d2495fe978dc.bundle.js.map
  main.cb693fbd9b12444268d8.bundle.js
  main.cb693fbd9b12444268d8.bundle.js.map
  runtime~main.2d0b7e27d2495fe978dc.bundle.js.map
  runtime~main.cb693fbd9b12444268d8.bundle.js
  runtime~main.cb693fbd9b12444268d8.bundle.js.map
  vendors~main.2d0b7e27d2495fe978dc.bundle.js.map
  vendors~main.cb693fbd9b12444268d8.bundle.js
  vendors~main.cb693fbd9b12444268d8.bundle.js.LICENSE.txt
  vendors~main.cb693fbd9b12444268d8.bundle.js.map
Due: prettier --write

fix: upgrade snyk from 1.317.0 to 1.319.0
  package.json
Due: none

fix: upgrade snyk from 1.317.0 to 1.319.0
  package-lock.json
Due: none

fix: upgrade tslib from 1.11.1 to 1.11.2
  package.json
Due: none

fix: upgrade tslib from 1.11.1 to 1.11.2
  package-lock.json
Due: none

fix: upgrade multiple dependencies with Snyk
  package.json
Due: none

fix: upgrade multiple dependencies with Snyk
  package-lock.json
Due: none

fix(link model): lock child points when locking link
  projects/ngx-diagrams/src/lib/models/link.model.ts
Due: tslint --fix, prettier --write

build(release): release 2.18.3 - Jun 2, 2020, 8:42 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a7728d8c4bcaea34af6bb288a6743e98ccd50c6a
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.cb693fbd9b12444268d8.bundle.js.map
  main.d1e6d4509495ae7f272d.bundle.js
  main.d1e6d4509495ae7f272d.bundle.js.map
  runtime~main.cb693fbd9b12444268d8.bundle.js.map
  runtime~main.d1e6d4509495ae7f272d.bundle.js
  runtime~main.d1e6d4509495ae7f272d.bundle.js.map
  vendors~main.cb693fbd9b12444268d8.bundle.js
  vendors~main.cb693fbd9b12444268d8.bundle.js.map
  vendors~main.d1e6d4509495ae7f272d.bundle.js
  vendors~main.d1e6d4509495ae7f272d.bundle.js.LICENSE.txt
  vendors~main.d1e6d4509495ae7f272d.bundle.js.map
Due: prettier --write

build(release): release 2.18.4 - Jun 2, 2020, 9:01 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  134ed304a03daa568fd22fcffc37d7875672a682
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.9d405b21f70361f4f6c6.bundle.js
  main.9d405b21f70361f4f6c6.bundle.js.map
  main.d1e6d4509495ae7f272d.bundle.js
  main.d1e6d4509495ae7f272d.bundle.js.map
  runtime~main.9d405b21f70361f4f6c6.bundle.js
  runtime~main.9d405b21f70361f4f6c6.bundle.js.map
  runtime~main.d1e6d4509495ae7f272d.bundle.js.map
  vendors~main.9d405b21f70361f4f6c6.bundle.js
  vendors~main.9d405b21f70361f4f6c6.bundle.js.LICENSE.txt
  vendors~main.9d405b21f70361f4f6c6.bundle.js.map
  vendors~main.d1e6d4509495ae7f272d.bundle.js.map
Due: prettier --write

fix: upgrade ngx-markdown from 9.0.0 to 9.1.0
  package-lock.json
  package.json
Due: none
