Repository Vonage/rxzu: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  3.8ece5996763f58eb2147.bundle.js
  iframe.html
  index.html
  main.3a18e18a308dbf9950f6.bundle.js
  main.3a18e18a308dbf9950f6.bundle.js.map
  main.56fd530ca59661dc4d11.bundle.js
  main.56fd530ca59661dc4d11.bundle.js.map
  main.729d371cb0718be51b5b.bundle.js
  main.755476fe13ea27bdbfce.bundle.js
  runtime~main.3a18e18a308dbf9950f6.bundle.js
  runtime~main.3a18e18a308dbf9950f6.bundle.js.map
  runtime~main.56fd530ca59661dc4d11.bundle.js
  runtime~main.56fd530ca59661dc4d11.bundle.js.map
  runtime~main.6361bbf1c43c2b40f55f.bundle.js
  runtime~main.6ac4c33d73ae9704bbb9.bundle.js
  sb_dll/storybook_ui-manifest.json
  sb_dll/storybook_ui_dll.LICENCE
  sb_dll/storybook_ui_dll.js
  vendors~main.3a18e18a308dbf9950f6.bundle.js
  vendors~main.3a18e18a308dbf9950f6.bundle.js.map
  vendors~main.56fd530ca59661dc4d11.bundle.js
  vendors~main.56fd530ca59661dc4d11.bundle.js.map
  vendors~main.96386678f68fc68bb899.bundle.js
  vendors~main.ad44e29b4e4128d17c77.bundle.js
Due: prettier --write

feat(auto arrange): dagre based auto arrange engine
  package.json
  projects/ngx-diagrams/package.json
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/services/dagre-engine.service.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/ngx-diagrams/src/public-api.ts
  projects/playground/src/app/app.component.html
  projects/playground/src/app/app.component.scss
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.module.ts
  yarn.lock
Due: tslint --fix, prettier --write

chore(packages): updated all packages and dependencies
  package.json
  projects/ngx-diagrams/ng-package.json
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-node.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-port.factory.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/components/custom-link/custom-link.component.ts
  tsconfig.json
  yarn.lock
Due: tslint --fix, prettier --write

refactor(rxjs): changed all method calls to new signatures
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/playground/src/app/components/custom-link/custom-link.component.ts
Due: tslint --fix, prettier --write

chore(node): updated travis.yml node version
  .travis.yml
Due: none

build(release): release 2.7.0 - Sep 4, 2019, 9:02 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.56fd530ca59661dc4d11.bundle.js
  main.56fd530ca59661dc4d11.bundle.js.map
  main.a4931b9c95dd0ae211d6.bundle.js
  main.a4931b9c95dd0ae211d6.bundle.js.map
  runtime~main.56fd530ca59661dc4d11.bundle.js.map
  runtime~main.a4931b9c95dd0ae211d6.bundle.js
  runtime~main.a4931b9c95dd0ae211d6.bundle.js.map
  vendors~main.56fd530ca59661dc4d11.bundle.js
  vendors~main.56fd530ca59661dc4d11.bundle.js.map
  vendors~main.a4931b9c95dd0ae211d6.bundle.js
  vendors~main.a4931b9c95dd0ae211d6.bundle.js.map
Due: prettier --write

fix(selection): multiple selection
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  yarn.lock
Due: tslint --fix, prettier --write

refactor(destruct): all port/node model properties destruction
  projects/ngx-diagrams/src/lib/defaults/factories/default-port.factory.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
Due: tslint --fix, prettier --write

build(release): release 2.7.1 - Sep 9, 2019, 11:23 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.913133782cb0ba473408.bundle.js
  main.913133782cb0ba473408.bundle.js.map
  main.a4931b9c95dd0ae211d6.bundle.js
  main.a4931b9c95dd0ae211d6.bundle.js.map
  runtime~main.913133782cb0ba473408.bundle.js
  runtime~main.913133782cb0ba473408.bundle.js.map
  runtime~main.a4931b9c95dd0ae211d6.bundle.js.map
  vendors~main.913133782cb0ba473408.bundle.js
  vendors~main.913133782cb0ba473408.bundle.js.map
  vendors~main.a4931b9c95dd0ae211d6.bundle.js.map
Due: prettier --write

feat(actions): on link connected between two ports
  projects/ngx-diagrams/src/lib/actions/index.ts
  projects/ngx-diagrams/src/lib/actions/links-connected-to-port.action.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/playground/src/app/app.component.html
  projects/playground/src/app/app.component.ts
Due: tslint --fix, prettier --write

build(release): release 2.8.0 - Sep 9, 2019, 12:15 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.3aaf5743d252c96b8786.bundle.js
  main.3aaf5743d252c96b8786.bundle.js.map
  main.913133782cb0ba473408.bundle.js
  main.913133782cb0ba473408.bundle.js.map
  runtime~main.3aaf5743d252c96b8786.bundle.js
  runtime~main.3aaf5743d252c96b8786.bundle.js.map
  runtime~main.913133782cb0ba473408.bundle.js.map
  vendors~main.3aaf5743d252c96b8786.bundle.js
  vendors~main.3aaf5743d252c96b8786.bundle.js.map
  vendors~main.913133782cb0ba473408.bundle.js.map
Due: prettier --write

fix(actions): link connection action now trigger when link is valid
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
Due: tslint --fix, prettier --write

build(release): release 2.8.1 - Sep 11, 2019, 10:45 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.3aaf5743d252c96b8786.bundle.js
  main.3aaf5743d252c96b8786.bundle.js.map
  main.580eb0c59a17db5464aa.bundle.js
  main.580eb0c59a17db5464aa.bundle.js.map
  runtime~main.3aaf5743d252c96b8786.bundle.js.map
  runtime~main.580eb0c59a17db5464aa.bundle.js
  runtime~main.580eb0c59a17db5464aa.bundle.js.map
  vendors~main.3aaf5743d252c96b8786.bundle.js.map
  vendors~main.580eb0c59a17db5464aa.bundle.js
  vendors~main.580eb0c59a17db5464aa.bundle.js.map
Due: prettier --write

fix(points): bad coords observable for points
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/playground/src/app/components/custom-link/custom-link.component.html
  projects/playground/src/app/components/custom-link/custom-link.component.ts
Due: tslint --fix, prettier --write

style(logs): removed console logs
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/playground/src/app/app.component.ts
Due: tslint --fix, prettier --write

fix(links): maximum links
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/playground/src/app/app.component.ts
Due: tslint --fix, prettier --write

fix(defaults): default link coords binding
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
Due: prettier --write

build(release): release 2.8.2 - Sep 15, 2019, 2:19 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.0eebe23803b6bd704e78.bundle.js
  main.0eebe23803b6bd704e78.bundle.js.map
  main.580eb0c59a17db5464aa.bundle.js
  main.580eb0c59a17db5464aa.bundle.js.map
  runtime~main.0eebe23803b6bd704e78.bundle.js
  runtime~main.0eebe23803b6bd704e78.bundle.js.map
  runtime~main.580eb0c59a17db5464aa.bundle.js.map
  vendors~main.0eebe23803b6bd704e78.bundle.js
  vendors~main.0eebe23803b6bd704e78.bundle.js.map
  vendors~main.580eb0c59a17db5464aa.bundle.js.map
Due: prettier --write

refactor(actions): link created action
  projects/ngx-diagrams/src/lib/actions/index.ts
  projects/ngx-diagrams/src/lib/actions/links-created.action.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/playground/src/app/app.component.ts
Due: tslint --fix, prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.0eebe23803b6bd704e78.bundle.js
  main.0eebe23803b6bd704e78.bundle.js.map
  main.5b9411e37fd8af382e22.bundle.js
  main.5b9411e37fd8af382e22.bundle.js.map
  runtime~main.0eebe23803b6bd704e78.bundle.js.map
  runtime~main.5b9411e37fd8af382e22.bundle.js
  runtime~main.5b9411e37fd8af382e22.bundle.js.map
  vendors~main.0eebe23803b6bd704e78.bundle.js.map
  vendors~main.5b9411e37fd8af382e22.bundle.js
  vendors~main.5b9411e37fd8af382e22.bundle.js.map
Due: prettier --write

fix(actions): links created action
  projects/ngx-diagrams/src/lib/actions/links-created.action.ts
Due: tslint --fix, prettier --write

build(release): release 2.8.3 - Sep 16, 2019, 10:06 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.5b9411e37fd8af382e22.bundle.js
  main.5b9411e37fd8af382e22.bundle.js.map
  main.6cf0f66ecc944780346e.bundle.js
  main.6cf0f66ecc944780346e.bundle.js.map
  runtime~main.5b9411e37fd8af382e22.bundle.js.map
  runtime~main.6cf0f66ecc944780346e.bundle.js
  runtime~main.6cf0f66ecc944780346e.bundle.js.map
  vendors~main.5b9411e37fd8af382e22.bundle.js.map
  vendors~main.6cf0f66ecc944780346e.bundle.js
  vendors~main.6cf0f66ecc944780346e.bundle.js.map
Due: prettier --write

feat(port): get x,y coords
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/playground/src/app/app.component.ts
Due: tslint --fix, prettier --write

ci(lock file): removed to try and fix issue with yarn
  yarn.lock
Due: none

build(release): release 2.9.0 - Nov 21, 2019, 10:00 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat(port): added getters and setters for width and height
  projects/ngx-diagrams/src/lib/models/port.model.ts
Due: tslint --fix, prettier --write

build(release): release 2.10.0 - Nov 21, 2019, 10:52 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs(storybook): fixed build error
  projects/playground/src/app/app.component.ts
Due: tslint --fix, prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  3.8ece5996763f58eb2147.bundle.js
  iframe.html
  index.html
  main.3fca89b413d0f8a911e0.bundle.js
  main.6cf0f66ecc944780346e.bundle.js
  main.6cf0f66ecc944780346e.bundle.js.map
  main.755476fe13ea27bdbfce.bundle.js
  main.fbf8947a064fb56505f3.bundle.js
  main.fbf8947a064fb56505f3.bundle.js.map
  runtime~main.4d6118575687c0a0f1fb.bundle.js
  runtime~main.6361bbf1c43c2b40f55f.bundle.js
  runtime~main.6cf0f66ecc944780346e.bundle.js.map
  runtime~main.fbf8947a064fb56505f3.bundle.js
  runtime~main.fbf8947a064fb56505f3.bundle.js.map
  sb_dll/storybook_ui-manifest.json
  sb_dll/storybook_ui_dll.LICENCE
  sb_dll/storybook_ui_dll.js
  vendors~main.6cf0f66ecc944780346e.bundle.js
  vendors~main.6cf0f66ecc944780346e.bundle.js.map
  vendors~main.72fe299f398a2b230bb6.bundle.js
  vendors~main.ad44e29b4e4128d17c77.bundle.js
  vendors~main.fbf8947a064fb56505f3.bundle.js
  vendors~main.fbf8947a064fb56505f3.bundle.js.map
Due: prettier --write

feat(destroy options): allowing to pass options to destroy method
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/models/label.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
Due: tslint --fix, prettier --write

feat(destroy-options): emit property
  projects/ngx-diagrams/src/lib/base.entity.ts
Due: tslint --fix, prettier --write

build(release): release 2.11.0 - Dec 19, 2019, 11:50 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.8343fd0d0b717fb2d572.bundle.js
  main.8343fd0d0b717fb2d572.bundle.js.map
  main.fbf8947a064fb56505f3.bundle.js
  main.fbf8947a064fb56505f3.bundle.js.map
  runtime~main.8343fd0d0b717fb2d572.bundle.js
  runtime~main.8343fd0d0b717fb2d572.bundle.js.map
  runtime~main.fbf8947a064fb56505f3.bundle.js.map
  vendors~main.8343fd0d0b717fb2d572.bundle.js
  vendors~main.8343fd0d0b717fb2d572.bundle.js.map
  vendors~main.fbf8947a064fb56505f3.bundle.js.map
Due: prettier --write

refactor(destroy options): default destroy options
  projects/ngx-diagrams/src/lib/base.entity.ts
Due: tslint --fix, prettier --write

Path conditions:
  tslint --fix: any of: projects/**/*.ts
  prettier --write: any of: **/*.{ts,js,html,scss,md}
