Repository Vonage/rxzu: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

ci(test): test
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.scss
Due: prettier --write

build(travis): trying to fix semantic-release
  .travis.yml
  package-lock.json
  package.json
Due: none

build: fix build and release process
  .commitizenrc
  .cz-config.js
  .lintstagedrc
  .releaserc
  .travis.yml
  package-lock.json
  package.json
  projects/ngx-diagrams/package.json
Due: none

ci(travis): remove semantic-release test command
  .travis.yml
Due: none

build(release): release 1.3.0 - May 11, 2019, 10:25 AM [skip ci]
  CHANGELOG.md
  package.json
Due: none

feat(multiple selection): selection box, multiple entities selection
  package-lock.json
  package.json
  projects/ngx-diagrams/package-lock.json
  projects/ngx-diagrams/package.json
  projects/ngx-diagrams/src/lib/actions/move-items.action.ts
  projects/ngx-diagrams/src/lib/actions/selecting.action.ts
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.html
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.scss
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.scss
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/move-selection.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
Due: tslint --fix, prettier --write

feat(movement, links): moving items, draggable links
  projects/ngx-diagrams/src/lib/actions/move-canvas.action.ts
  projects/ngx-diagrams/src/lib/actions/move-items.action.ts
  projects/ngx-diagrams/src/lib/actions/selecting.action.ts
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.html
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
Due: tslint --fix, prettier --write

refactor(build): revised few of the build issues
  projects/ngx-diagrams/ng-package.json
  projects/ngx-diagrams/package-lock.json
  projects/ngx-diagrams/package.json
Due: none

chore(semantic-release): enable publish to npm
  .releaserc
  package.json
Due: none

chore(travis): release storybook to gh_pages
  .travis.yml
Due: none

feat(selection, links): moving, selecting, links implemented
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
Due: tslint --fix, prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  favicon.ico
  iframe.html
  index.html
  main.4597ed0e02ab8602a001.bundle.js
  main.4597ed0e02ab8602a001.bundle.js.map
  main.729d371cb0718be51b5b.bundle.js
  main.e3a4a952b1369f42a96f.bundle.js
  main.fc44027512c04173e4d1.bundle.js
  main.fc44027512c04173e4d1.bundle.js.map
  runtime~main.4597ed0e02ab8602a001.bundle.js.map
  runtime~main.fc44027512c04173e4d1.bundle.js
  runtime~main.fc44027512c04173e4d1.bundle.js.map
  vendors~main.4597ed0e02ab8602a001.bundle.js.map
  vendors~main.75ca24f8c58eb5046286.bundle.js
  vendors~main.96386678f68fc68bb899.bundle.js
  vendors~main.fc44027512c04173e4d1.bundle.js
  vendors~main.fc44027512c04173e4d1.bundle.js.map
Due: none

ci(travis): fixed release stage
  .travis.yml
Due: none

build(release): release 1.4.0 - May 12, 2019, 8:33 PM [skip ci]
  CHANGELOG.md
  package.json
Due: none

ci(travis): testing new story-book deploy
  .travis.yml
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.697d53493a74f6c69b3c.bundle.js
  main.697d53493a74f6c69b3c.bundle.js.map
  main.fc44027512c04173e4d1.bundle.js
  main.fc44027512c04173e4d1.bundle.js.map
  runtime~main.697d53493a74f6c69b3c.bundle.js
  runtime~main.697d53493a74f6c69b3c.bundle.js.map
  runtime~main.fc44027512c04173e4d1.bundle.js.map
  vendors~main.697d53493a74f6c69b3c.bundle.js
  vendors~main.697d53493a74f6c69b3c.bundle.js.map
  vendors~main.fc44027512c04173e4d1.bundle.js.map
Due: none

feat(selection): links, points selection
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.scss
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.scss
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
Due: tslint --fix, prettier --write

refactor(clear selection): onmousedown clear selection on every click
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
Due: tslint --fix, prettier --write

refactor(build): updated stroke linecap prop
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
Due: prettier --write

docs(readme): updated library name
  projects/ngx-diagrams/src/public-api.ts
Due: tslint --fix, prettier --write

refactor: global refactor for models props and rx
  package-lock.json
  projects/ngx-diagrams/src/lib/actions/move-items.action.ts
  projects/ngx-diagrams/src/lib/actions/selecting.action.ts
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-node.factory.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
  projects/ngx-diagrams/src/lib/interfaces/dimensions.interface.ts
  projects/ngx-diagrams/src/lib/interfaces/event.interface.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.module.ts
  projects/playground/src/app/components/markdown-wrapper/markdown-wrapper.component.html
  projects/playground/src/main.ts
Due: tslint --fix, prettier --write

build(release): release 1.5.0 - May 18, 2019, 1:27 PM [skip ci]
  CHANGELOG.md
  package.json
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.697d53493a74f6c69b3c.bundle.js
  main.697d53493a74f6c69b3c.bundle.js.map
  main.e11ccfc11e3441b0d8fa.bundle.js
  main.e11ccfc11e3441b0d8fa.bundle.js.map
  runtime~main.697d53493a74f6c69b3c.bundle.js.map
  runtime~main.e11ccfc11e3441b0d8fa.bundle.js
  runtime~main.e11ccfc11e3441b0d8fa.bundle.js.map
  vendors~main.697d53493a74f6c69b3c.bundle.js.map
  vendors~main.e11ccfc11e3441b0d8fa.bundle.js
  vendors~main.e11ccfc11e3441b0d8fa.bundle.js.map
Due: none

refactor(coords): use interface in link and diagram, rename to Coords
  projects/ngx-diagrams/src/lib/actions/selecting.action.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-node.factory.ts
  projects/ngx-diagrams/src/lib/interfaces/coords.interface.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
Due: tslint --fix, prettier --write

fix(default-factories): use renderer2 instead direct DOM
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-link.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-node.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-port.factory.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
Due: tslint --fix, prettier --write

fix(layers overlapping): layers wont overlap each
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.scss
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.scss
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
Due: tslint --fix, prettier --write

feat(rxstate): move all library and engine to rx style [WIP]
  projects/ngx-diagrams/src/lib/actions/move-canvas.action.ts
  projects/ngx-diagrams/src/lib/actions/move-items.action.ts
  projects/ngx-diagrams/src/lib/actions/selecting.action.ts
  projects/ngx-diagrams/src/lib/base.entity.ts
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.html
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-link.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-node.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-port.factory.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/interfaces/event.interface.ts
  projects/ngx-diagrams/src/lib/interfaces/types.ts
  projects/ngx-diagrams/src/lib/models/base.model.ts
  projects/ngx-diagrams/src/lib/models/diagram.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/move-selection.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/point.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/ngx-diagrams/src/lib/utils/tool-kit.util.ts
  projects/ngx-diagrams/tslint.json
  projects/playground/src/app/app.component.ts
Due: tslint --fix, prettier --write

build(release): release 2.0.0 - Jun 23, 2019, 10:16 AM [skip ci]
  CHANGELOG.md
  package.json
Due: none

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.e11ccfc11e3441b0d8fa.bundle.js
  main.e11ccfc11e3441b0d8fa.bundle.js.map
  main.f0ffc5fc45e5b8ea4f62.bundle.js
  main.f0ffc5fc45e5b8ea4f62.bundle.js.map
  runtime~main.e11ccfc11e3441b0d8fa.bundle.js.map
  runtime~main.f0ffc5fc45e5b8ea4f62.bundle.js
  runtime~main.f0ffc5fc45e5b8ea4f62.bundle.js.map
  vendors~main.e11ccfc11e3441b0d8fa.bundle.js.map
  vendors~main.f0ffc5fc45e5b8ea4f62.bundle.js
  vendors~main.f0ffc5fc45e5b8ea4f62.bundle.js.map
Due: none

fix(public api): exporting all required modules
  projects/ngx-diagrams/src/public-api.ts
Due: tslint --fix, prettier --write

build(release): release 2.0.1 - Jun 23, 2019, 11:38 AM [skip ci]
  CHANGELOG.md
  package.json
Due: none

ci(test): testing cd
  projects/ngx-diagrams/src/public-api.ts
Due: tslint --fix, prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.c51874f337dbac10811d.bundle.js
  main.c51874f337dbac10811d.bundle.js.map
  main.f0ffc5fc45e5b8ea4f62.bundle.js.map
  runtime~main.c51874f337dbac10811d.bundle.js
  runtime~main.c51874f337dbac10811d.bundle.js.map
  runtime~main.f0ffc5fc45e5b8ea4f62.bundle.js.map
  vendors~main.c51874f337dbac10811d.bundle.js
  vendors~main.c51874f337dbac10811d.bundle.js.map
  vendors~main.f0ffc5fc45e5b8ea4f62.bundle.js.map
Due: none

chore(release): reverting to previous version
  projects/ngx-diagrams/src/public-api.ts
Due: tslint --fix, prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.c51874f337dbac10811d.bundle.js.map
  main.e566bc52972815240653.bundle.js
  main.e566bc52972815240653.bundle.js.map
  runtime~main.c51874f337dbac10811d.bundle.js.map
  runtime~main.e566bc52972815240653.bundle.js
  runtime~main.e566bc52972815240653.bundle.js.map
  vendors~main.c51874f337dbac10811d.bundle.js.map
  vendors~main.e566bc52972815240653.bundle.js
  vendors~main.e566bc52972815240653.bundle.js.map
Due: none

fix(ci): fixed issue with ci
  .travis.yml
  package.json
Due: none

fix(package lock): updated package lock
  package-lock.json
Due: none

build(release): release 2.0.2 - Jun 23, 2019, 12:56 PM [skip ci]
  CHANGELOG.md
  package.json
Due: none

fix(public api): fixed exposed public apis
  projects/ngx-diagrams/src/public-api.ts
Due: tslint --fix, prettier --write

build(release): release 2.0.3 - Jun 23, 2019, 1:07 PM [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  tslint --fix: any of: projects/**/*.ts
  prettier --write: any of: projects/**/*.{ts,js,html,scss}
