Repository Vonage/rxzu: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.5a4a9f9e23532b817870.bundle.js
  main.5a4a9f9e23532b817870.bundle.js.map
  main.e566bc52972815240653.bundle.js
  main.e566bc52972815240653.bundle.js.map
  runtime~main.5a4a9f9e23532b817870.bundle.js
  runtime~main.5a4a9f9e23532b817870.bundle.js.map
  runtime~main.e566bc52972815240653.bundle.js.map
  vendors~main.5a4a9f9e23532b817870.bundle.js
  vendors~main.5a4a9f9e23532b817870.bundle.js.map
  vendors~main.e566bc52972815240653.bundle.js.map
Due: prettier --write

fix(main module): declared all components inside self
  projects/ngx-diagrams/src/lib/ngx-diagrams.module.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.module.ts
Due: tslint --fix, prettier --write

build(release): release 2.0.4 - Jun 24, 2019, 10:21 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat(exports): exporting all relevant apis
  projects/ngx-diagrams/src/lib/actions/index.ts
  projects/ngx-diagrams/src/lib/defaults/components/index.ts
  projects/ngx-diagrams/src/lib/defaults/factories/index.ts
  projects/ngx-diagrams/src/lib/defaults/index.ts
  projects/ngx-diagrams/src/lib/defaults/models/index.ts
  projects/ngx-diagrams/src/lib/factories/index.ts
  projects/ngx-diagrams/src/lib/interfaces/index.ts
  projects/ngx-diagrams/src/lib/models/index.ts
  projects/ngx-diagrams/src/public-api.ts
Due: tslint --fix, prettier --write

fix(storybook): imports are now from the library and not the dist
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.module.ts
Due: tslint --fix, prettier --write

build(release): release 2.1.0 - Jun 24, 2019, 11:20 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix(util): exporting utils
  projects/ngx-diagrams/src/lib/utils/index.ts
  projects/ngx-diagrams/src/public-api.ts
Due: tslint --fix, prettier --write

build(release): release 2.1.1 - Jun 24, 2019, 12:42 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.0fb65fdcf7ef7f34f133.bundle.js
  main.0fb65fdcf7ef7f34f133.bundle.js.map
  main.5a4a9f9e23532b817870.bundle.js
  main.5a4a9f9e23532b817870.bundle.js.map
  runtime~main.0fb65fdcf7ef7f34f133.bundle.js
  runtime~main.0fb65fdcf7ef7f34f133.bundle.js.map
  runtime~main.5a4a9f9e23532b817870.bundle.js.map
  vendors~main.0fb65fdcf7ef7f34f133.bundle.js
  vendors~main.0fb65fdcf7ef7f34f133.bundle.js.map
  vendors~main.5a4a9f9e23532b817870.bundle.js.map
Due: prettier --write

feat(ports): support for different types of ports
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
Due: tslint --fix, prettier --write

build(release): release 2.2.0 - Jun 24, 2019, 1:25 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.0fb65fdcf7ef7f34f133.bundle.js
  main.0fb65fdcf7ef7f34f133.bundle.js.map
  main.579578220a080b4a2b8d.bundle.js
  main.579578220a080b4a2b8d.bundle.js.map
  runtime~main.0fb65fdcf7ef7f34f133.bundle.js.map
  runtime~main.579578220a080b4a2b8d.bundle.js
  runtime~main.579578220a080b4a2b8d.bundle.js.map
  vendors~main.0fb65fdcf7ef7f34f133.bundle.js.map
  vendors~main.579578220a080b4a2b8d.bundle.js
  vendors~main.579578220a080b4a2b8d.bundle.js.map
Due: prettier --write

feat(default node): support for custom ID
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
Due: tslint --fix, prettier --write

build(release): release 2.3.0 - Jun 25, 2019, 11:40 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.2ee0351f1dfc91e95ade.bundle.js
  main.2ee0351f1dfc91e95ade.bundle.js.map
  main.579578220a080b4a2b8d.bundle.js
  main.579578220a080b4a2b8d.bundle.js.map
  runtime~main.2ee0351f1dfc91e95ade.bundle.js
  runtime~main.2ee0351f1dfc91e95ade.bundle.js.map
  runtime~main.579578220a080b4a2b8d.bundle.js.map
  vendors~main.2ee0351f1dfc91e95ade.bundle.js
  vendors~main.2ee0351f1dfc91e95ade.bundle.js.map
  vendors~main.579578220a080b4a2b8d.bundle.js.map
Due: prettier --write

feat(default node): support for custom ids
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
Due: tslint --fix, prettier --write

build(release): release 2.4.0 - Jun 25, 2019, 11:50 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.2ee0351f1dfc91e95ade.bundle.js
  main.2ee0351f1dfc91e95ade.bundle.js.map
  main.8e19d40760f554ad3d61.bundle.js
  main.8e19d40760f554ad3d61.bundle.js.map
  runtime~main.2ee0351f1dfc91e95ade.bundle.js.map
  runtime~main.8e19d40760f554ad3d61.bundle.js
  runtime~main.8e19d40760f554ad3d61.bundle.js.map
  vendors~main.2ee0351f1dfc91e95ade.bundle.js.map
  vendors~main.8e19d40760f554ad3d61.bundle.js
  vendors~main.8e19d40760f554ad3d61.bundle.js.map
Due: prettier --write

feat(default port): custom ids
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
Due: tslint --fix, prettier --write

build(release): release 2.5.0 - Jun 25, 2019, 3:00 PM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.1794f283467d70853ec1.bundle.js
  main.1794f283467d70853ec1.bundle.js.map
  main.8e19d40760f554ad3d61.bundle.js
  main.8e19d40760f554ad3d61.bundle.js.map
  runtime~main.1794f283467d70853ec1.bundle.js
  runtime~main.1794f283467d70853ec1.bundle.js.map
  runtime~main.8e19d40760f554ad3d61.bundle.js.map
  vendors~main.1794f283467d70853ec1.bundle.js
  vendors~main.1794f283467d70853ec1.bundle.js.map
  vendors~main.8e19d40760f554ad3d61.bundle.js.map
Due: prettier --write

fix(change detection): on widget created run change detection ref check
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
Due: tslint --fix, prettier --write

build(release): release 2.5.1 - Jun 26, 2019, 8:55 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.1794f283467d70853ec1.bundle.js
  main.1794f283467d70853ec1.bundle.js.map
  main.de0dded10325b9483238.bundle.js
  main.de0dded10325b9483238.bundle.js.map
  runtime~main.1794f283467d70853ec1.bundle.js.map
  runtime~main.de0dded10325b9483238.bundle.js
  runtime~main.de0dded10325b9483238.bundle.js.map
  vendors~main.1794f283467d70853ec1.bundle.js.map
  vendors~main.de0dded10325b9483238.bundle.js
  vendors~main.de0dded10325b9483238.bundle.js.map
Due: prettier --write

feat(labels): links can now have a label
  projects/ngx-diagrams/src/lib/defaults/components/default-label/default-label.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-label/default-label.component.scss
  projects/ngx-diagrams/src/lib/defaults/components/default-label/default-label.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.html
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.component.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-label.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/default-link.factory.ts
  projects/ngx-diagrams/src/lib/defaults/factories/index.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-label.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/index.ts
  projects/ngx-diagrams/src/lib/factories/index.ts
  projects/ngx-diagrams/src/lib/factories/label.factory.ts
  projects/ngx-diagrams/src/lib/factories/link.factory.ts
  projects/ngx-diagrams/src/lib/models/index.ts
  projects/ngx-diagrams/src/lib/models/label.model.ts
  projects/ngx-diagrams/src/lib/models/link.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/ngx-diagrams.module.ts
  projects/ngx-diagrams/src/lib/services/engine.service.ts
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.module.ts
Due: tslint --fix, prettier --write

chore(release): labels added
  projects/ngx-diagrams/src/lib/defaults/components/index.ts
  projects/ngx-diagrams/src/lib/ngx-diagrams.module.ts
Due: tslint --fix, prettier --write

build(release): release 2.6.0 - Jul 4, 2019, 7:17 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.9899c8ff1c2bb582595e.bundle.js
  main.9899c8ff1c2bb582595e.bundle.js.map
  main.de0dded10325b9483238.bundle.js
  main.de0dded10325b9483238.bundle.js.map
  runtime~main.9899c8ff1c2bb582595e.bundle.js
  runtime~main.9899c8ff1c2bb582595e.bundle.js.map
  runtime~main.de0dded10325b9483238.bundle.js.map
  vendors~main.9899c8ff1c2bb582595e.bundle.js
  vendors~main.9899c8ff1c2bb582595e.bundle.js.map
  vendors~main.de0dded10325b9483238.bundle.js.map
Due: prettier --write

perf(default components): exported as individual modules
  projects/ngx-diagrams/src/lib/defaults/components/default-label/default-label.module.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.module.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.module.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-port/default-port.module.ts
  projects/ngx-diagrams/src/lib/defaults/components/index.ts
  projects/ngx-diagrams/src/lib/ngx-diagrams.module.ts
  projects/ngx-diagrams/tsconfig.lib.json
  projects/playground/src/app/app.module.ts
Due: tslint --fix, prettier --write

fix(security): updated packages to remove security issues
  package-lock.json
Due: none

build(release): release 2.6.1 - Jul 8, 2019, 8:11 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.74325a45ec70440daea7.bundle.js
  main.74325a45ec70440daea7.bundle.js.map
  main.9899c8ff1c2bb582595e.bundle.js
  main.9899c8ff1c2bb582595e.bundle.js.map
  runtime~main.74325a45ec70440daea7.bundle.js
  runtime~main.74325a45ec70440daea7.bundle.js.map
  runtime~main.9899c8ff1c2bb582595e.bundle.js.map
  vendors~main.74325a45ec70440daea7.bundle.js
  vendors~main.74325a45ec70440daea7.bundle.js.map
  vendors~main.9899c8ff1c2bb582595e.bundle.js.map
Due: prettier --write

fix(defaults): exporting all default components
  projects/ngx-diagrams/src/lib/defaults/components/default-label/default-label.module.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-link/default-link.module.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-node/default-node.module.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-port/default-port.module.ts
  projects/playground/src/app/app.module.ts
Due: tslint --fix, prettier --write

build(release): release 2.6.2 - Jul 11, 2019, 6:32 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.74325a45ec70440daea7.bundle.js
  main.74325a45ec70440daea7.bundle.js.map
  main.8434bc402c8f0d560350.bundle.js
  main.8434bc402c8f0d560350.bundle.js.map
  runtime~main.74325a45ec70440daea7.bundle.js.map
  runtime~main.8434bc402c8f0d560350.bundle.js
  runtime~main.8434bc402c8f0d560350.bundle.js.map
  vendors~main.74325a45ec70440daea7.bundle.js.map
  vendors~main.8434bc402c8f0d560350.bundle.js
  vendors~main.8434bc402c8f0d560350.bundle.js.map
Due: prettier --write

fix(defauls): changed exports to point to index file
  projects/ngx-diagrams/src/lib/defaults/index.ts
  projects/ngx-diagrams/src/public-api.ts
Due: tslint --fix, prettier --write

build(release): release 2.6.3 - Jul 11, 2019, 7:06 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploy DanielNetzer/ngx-diagrams to github.com/DanielNetzer/ngx-diagrams.git:gh-pages
  iframe.html
  main.3a18e18a308dbf9950f6.bundle.js
  main.3a18e18a308dbf9950f6.bundle.js.map
  main.8434bc402c8f0d560350.bundle.js
  main.8434bc402c8f0d560350.bundle.js.map
  runtime~main.3a18e18a308dbf9950f6.bundle.js
  runtime~main.3a18e18a308dbf9950f6.bundle.js.map
  runtime~main.8434bc402c8f0d560350.bundle.js.map
  vendors~main.3a18e18a308dbf9950f6.bundle.js
  vendors~main.3a18e18a308dbf9950f6.bundle.js.map
  vendors~main.8434bc402c8f0d560350.bundle.js.map
Due: prettier --write

fix(custom links): outport can now define their links type per port
  package-lock.json
  projects/ngx-diagrams/src/lib/containers/diagram/diagram.component.ts
  projects/ngx-diagrams/src/lib/defaults/components/default-label/default-label.component.scss
  projects/ngx-diagrams/src/lib/defaults/models/default-node.model.ts
  projects/ngx-diagrams/src/lib/defaults/models/default-port.model.ts
  projects/ngx-diagrams/src/lib/models/node.model.ts
  projects/ngx-diagrams/src/lib/models/port.model.ts
  projects/playground/src/app/app.component.html
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.module.ts
  projects/playground/src/app/components/custom-link/custom-link.component.html
  projects/playground/src/app/components/custom-link/custom-link.component.scss
  projects/playground/src/app/components/custom-link/custom-link.component.ts
  projects/playground/src/app/components/custom-link/custom-link.factory.ts
  yarn.lock
Due: tslint --fix, prettier --write

build(release): release 2.6.4 - Sep 3, 2019, 10:41 AM [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  tslint --fix: any of: projects/**/*.ts
  prettier --write: any of: **/*.{ts,js,html,scss,md}
